#container {
    display: flex;
    flex-direction: column;
}


.mini-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
        
}

.screen {
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 8px;
    width: 100px;
    height: 50px;

}
